body {
    height: 180vh;
}

em {
    font-weight: bold;
    font-family: sans-serif;
}

.utext {
    display: flex;
    flex-direction: column;
    margin-top: 45%;
}

.deb, .moit, .trois, .spn {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.card-section {
    margin-left: 100px;
    margin-top: 35px;
}

@media only screen and (min-width: 500px) and (max-width: 755px) {
    .deb, .moit, .trois, .spn {
        font-size: 19px;
    }

    .card-section {
        margin-left: 0;
    }
}

@media only screen and (max-width: 499px) {
    .card-section {
        margin-left: 0;
        width: 50%;
        height: 50%;
    }

    .deb, .moit, .trois, .spn {
        font-size: 16px;
    }
}