body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150vh;
    position: relative;
}

.accueil {
    height: 100%;
    width: 100%;
    background: url(https://cdn.stocksnap.io/img-thumbs/960w/marshall-audio_KWSBP5MAHQ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.basic_content {
    padding: 0;
    height: 85vh;
    background-color: rgba(133, 132, 132, 0.35);
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p#text, h3.partenaire, p.text_suit {
    margin: 0;
    color: white;
}

p#text, p.text_suit {
    font-weight: 800;
    font-size: 40px;
}

.partenaire {
    font-weight: 800;
    font-size: 64px;
}

.footer_div {
    background-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_footer {
    color: white;
    text-align: center;
}

.sidebar {
    background-color: #595959;
    position: fixed;
    top: 0;
    left: 0;
    width: 175px; /* Largeur de la sidebar */
    height: 100%;
    overflow-y: auto; /* Activation du défilement si le contenu dépasse la hauteur de la sidebar */
}

.sidebar-content {
    padding: 20px;
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#button {
    background-color: #595959;
    border-color: #595959;
    border: none;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 24px;
}

#button2 {
    margin-top: 50px;
    background-color: #595959;
    border-color: #595959;
    border: none;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 24px;
}

#button3 {
    margin-top: 375px;
    background-color: #595959;
    border-color: #595959;
    border: none;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 22px;
    white-space: nowrap;
}

.img {
    height: 70px;
}

#conn_but {
    background-color: #595959;
    border-color: #595959;
    border: none;
    margin-left: 175px;
    font-size: 15px;
    color: white;
    height: 60px;
    width: 240px;
    padding-right: 60px;
    padding-left: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.content_actu {
    color: white;
    width: 100%;
    margin-bottom: 0;
}

#actu_text {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    margin-left: 175px;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.element {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-left: 175px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

/* Media query pour la mise en page responsive */
@media only screen and (min-width: 300px) and (max-width: 349px) {
    .sidebar {
        width: 100%; /* La sidebar prend toute la largeur à partir de 768px */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        position: relative; /* Change la position pour empêcher le chevauchement avec le contenu principal */
    }

    .sidebar-content {
        padding: 20px;
        color: rgb(250, 250, 250);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 5px;
    }

    #button {
        margin: 0px;
    }

    #button2 {
        margin: 0px;
    }
    
    #button3 {
        margin: 0px;
    }

    p#text, h3.partenaire, p.text_suit {
        padding: 0;
        max-width: 100%;
        word-wrap: break-word;
    }

    p#text, p.text_suit {
        font-size: 21px;
    }

    h3.partenaire {
        font-size: 35px;
    }

    .basic_content {
        margin-left: 0;
    }

    #actu_text {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        font-family: Arial, sans-serif;
        font-size: 30px;
    }

    .conn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 40px;
        position: relative;
        left: 15px;
    }

    #conn_but {
        margin-left: 0px;
        height: 40px;
        width: 240px;
    }

    .element {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 464px) {
    .sidebar {
        width: 100%; /* La sidebar prend toute la largeur à partir de 768px */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        position: relative; /* Change la position pour empêcher le chevauchement avec le contenu principal */
    }

    .sidebar-content {
        padding: 20px;
        color: rgb(250, 250, 250);
        display: flex;
        flex-direction: row;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    #button {
        margin: 0px;
    }

    #button2 {
        margin: 0px;
    }
    
    #button3 {
        margin: 0px;
    }

    p#text, h3.partenaire, p.text_suit {
        padding: 0;
        max-width: 100%;
        word-wrap: break-word;
    }

    p#text, p.text_suit {
        font-size: 24px;
    }

    h3.partenaire {
        font-size: 45px;
    }

    .basic_content {
        margin-left: 0;
    }

    #actu_text {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        font-family: Arial, sans-serif;
        font-size: 30px;
    }

    .conn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 40px;
        position: relative;
        left: 15px;
    }

    #conn_but {
        margin-left: 0px;
        height: 40px;
        width: 240px;
    }

    .element {
        margin-left: 0;
    }
}

@media only screen and (min-width: 465px) and (max-width: 555px) {
    .sidebar {
        width: 100%; /* La sidebar prend toute la largeur à partir de 768px */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        position: relative; /* Change la position pour empêcher le chevauchement avec le contenu principal */
    }

    .sidebar-content {
        padding: 20px;
        color: rgb(250, 250, 250);
        display: flex;
        flex-direction: row;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    #button {
        margin: 0px;
    }

    #button2 {
        margin: 0px;
    }
    
    #button3 {
        margin: 0px;
    }

    p#text, p.text_suit {
        padding: 0;
        max-width: 100%;
        word-wrap: break-word;
        font-size: 27px;
    }

    h3.partenaire {
        font-size: 40px;
    }

    .basic_content {
        margin: 0;
    }

    #actu_text {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        font-family: Arial, sans-serif;
        font-size: 30px;
    }

    .conn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 40px;
        position: relative;
        left: 15px;
    }

    #conn_but {
        margin-left: 0px;
        height: 40px;
        width: 240px;
    }

    .element {
        margin-left: 0;
    }
}

@media only screen and (min-width: 556px) and (max-width: 769px) {
    .sidebar {
        width: 100%; /* La sidebar prend toute la largeur à partir de 768px */
        height: auto; /* Hauteur automatique pour s'adapter au contenu */
        position: relative; /* Change la position pour empêcher le chevauchement avec le contenu principal */
    }

    .sidebar-content {
        padding: 20px;
        color: rgb(250, 250, 250);
        display: flex;
        flex-direction: row;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    #button {
        margin: 0px;
    }

    #button2 {
        margin: 0px;
    }
    
    #button3 {
        margin: 0px;
    }

    p#text, p.text_suit {
        padding: 0;
        max-width: 100%;
        word-wrap: break-word;
        font-size: 34px;
    }

    h3.partenaire {
        font-size: 50px;
    }

    .basic_content {
        margin: 0;
    }

    #actu_text {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        font-family: Arial, sans-serif;
        margin-left: 0px;
        font-size: 30px;
    }

    .img {
        height: 40px;
        position: relative;
        left: 15px;
    }

    .conn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #conn_but {
        margin-left: 0px;
        height: 40px;
        width: 240px;
    }

    .element {
        margin-left: 0;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1063px) {
    .sidebar-content {
        padding: 20px;
        color: rgb(250, 250, 250);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    p#text, p.text_suit {
        padding: 0;
        max-width: 100%;
        word-wrap: break-word;
        font-size: 34px;
    }

    h3.partenaire {
        font-size: 50px;
    }

    #button3 {
        margin-top: 400px;
    }
}